@import 'normalize.css/normalize';
@import '../../dist/tooltip';

// $color1: rgba(227, 151, 116, 1);
// $color2: rgba(50, 98, 115, 1);
$color1: #326273;
$color2: #E39774;
$color3: rgba(92, 158, 173, 1);
$color4: rgba(238, 238, 238, 1);
$color5: rgba(255, 255, 255, 1);

*, *:before, *:after {
  box-sizing: border-box;
}

::selection {
  color: $color4;
  background: $color1;
}

::-moz-selection {
  color: $color4;
  background: $color1;
}

html {
  font-size: 10px;
  font-family: 'Ubuntu', sans-serif;
}

body {
  position: relative;
  width: 100%;
  background: $color3;
}

.wrapper {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0 auto;
}

.inner-column {
  position: relative;
  height: 100%;
  min-height: 100vh;
  padding: 18px 18px 80px;
  text-align: center;
  background: $color4;
  // box-shadow:
  // 0 4px 5px 0 rgba(0, 0, 0, 0.14),
  // 0 1px 10px 0 rgba(0, 0, 0, 0.12),
  // 0 2px 4px -1px rgba(0, 0, 0, 0.3);
}

.site-header {
  padding: 60px 0 40px;
}

.lib-name {
  display: inline-block;
  padding: 0;
  margin: 0;
  font-size: 3rem;
  line-height: .85;
  color: $color1;

  span {
    display: block;
    font-size: .5em;
    font-weight: normal;
    text-align: left;
  }
}

.btn {
  display: inline-block;
  padding: 6px 24px;
  margin-bottom: 2px;
  font-size: 1.5rem;
  line-height: 1.5;
  text-decoration: none;
  border-radius: 4px;
  color: $color5;
  background: $color2;
  border: 2px solid $color2;
  // box-shadow:
  //   0 4px 5px 0 rgba(0, 0, 0, 0.14),
  //   0 1px 10px 0 rgba(0, 0, 0, 0.12),
  //   0 2px 4px -1px rgba(0, 0, 0, 0.3);
  transition: opacity .3s ease;
}

.btn--ghost {
  padding: 2px 24px;
  color: $color2;
  background: transparent;
  border: 2px solid $color2;
  box-shadow: none;
}

.blocks {
  width: 100%;
  max-width: 640px;
  padding: 0;
  margin: 0 auto;
  list-style: none;
  font-size: 0;

  &:nth-of-type(2),
  &:nth-of-type(4) {
    max-width: 700px;
  }

  &:nth-of-type(3) {
    max-width: 760px;
  }
}

.blocks__item {
  display: inline-block;
  width: calc(100% / 3);
  padding: 10px;
}

.blocks__item .btn {
  width: 100%;
  padding: 24px 12px;

  @media screen and (max-width: 1024px) {
    padding: 24px 0;
    font-size: 1rem;
  }
}

.btn--left-top,
.btn--left-center,
.btn--left-bottom,
.btn--center-top,
.btn--center-bottom,
.btn--right-top,
.btn--right-center,
.btn--right-bottom {
  position: absolute;
  left: unset;
  right: unset;
  top: unset;
  bottom: unset;

  @media screen and (max-width: 1024px) {
    display: none;
  }
}

.btn--center-top,
.btn--center-bottom {
  left: 50%;
  transform: translate(-50%, 0);
}

.btn--left-top {
  top: 4px;
  left: 4px;
}

.btn--left-center {
  top: 50%;
  left: 4px;
  transform: translate(0, -50%);
}

.btn--left-bottom {
  bottom: 4px;
  left: 4px;
}

.btn--center-top {
  top: 4px;
}

.btn--center-bottom {
  bottom: 4px;
}

.btn--right-top {
  top: 4px;
  right: 4px;
}

.btn--right-center {
  top: 50%;
  right: 4px;
  transform: translate(0, -50%);
}

.btn--right-bottom {
  bottom: 4px;
  right: 4px;
}

.back-btn {
	display: block;
	position: absolute;
	left: 24px;
	bottom: 64px;
	width: 0;
	height: 0;
  text-indent: -10000px;

	border-top: 24px solid transparent;
	border-bottom: 24px solid transparent;
	border-right: 24px solid $color1;
}

.tooltip {
  padding: 8px 12px;
  font-size: 1.4rem;
  line-height: 1.4;
  font-family: 'Ubuntu', sans-serif;
  background: $color1;

  &:before {
    background-color: $color1;
  }
}
