@import 'normalize.css/normalize';

/* Coolors Exported Palette - coolors.co/2d3142-4f5d75-bfc0c0-ffffff-ef8354 */

/* RGB */
// $color1: rgb(45, 49, 66);
// $color2: rgb(79, 93, 117);
// $color3: rgb(191, 192, 192);
// $color4: rgb(255, 255, 255);
// $color5: rgb(239, 131, 84);

// $color1: rgba(252, 170, 103, 1);
// $color2: rgba(176, 65, 62, 1);
// $color3: rgba(255, 255, 199, 1);
// $color4: rgba(84, 134, 135, 1);
// $color5: rgba(71, 51, 53, 1);

// $color1: rgba(114, 87, 82, 1);
// $color2: rgba(135, 142, 136, 1);
// $color3: rgba(150, 192, 183, 1);
// $color4: rgba(212, 223, 199, 1);
// $color5: rgba(254, 246, 201, 1);

// $color1: rgba(12, 18, 12, 1);
// $color2: rgba(194, 1, 20, 1);
// $color3: rgba(109, 114, 117, 1);
// $color4: rgba(199, 214, 213, 1);
// $color5: rgba(236, 235, 243, 1);

// $color1: rgba(63, 71, 57, 1);
// $color2: rgba(113, 117, 104, 1);
// $color3: rgba(186, 203, 169, 1);
// $color4: rgba(225, 244, 203, 1);
// $color5: rgba(241, 191, 152, 1);

// $color1: rgba(227, 151, 116, 1);
// $color2: rgba(50, 98, 115, 1);
$color1: #326273;
$color2: #E39774;
$color3: rgba(92, 158, 173, 1);
$color4: rgba(238, 238, 238, 1);
$color5: rgba(255, 255, 255, 1);

*, *:before, *:after {
  box-sizing: border-box;
}

::selection {
  color: $color4;
  background: $color1;
}

::-moz-selection {
  color: $color4;
  background: $color1;
}

html {
  font-size: 10px;
  font-family: 'Ubuntu', sans-serif;
}

body {
  position: relative;
  width: 100%;
  background: $color3;
}

.wrapper {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0 auto;
}

.inner-column {
  position: relative;
  height: 100%;
  min-height: 100vh;
  padding: 18px 18px 80px;
  text-align: center;
  background: $color4;
  // box-shadow:
  // 0 4px 5px 0 rgba(0, 0, 0, 0.14),
  // 0 1px 10px 0 rgba(0, 0, 0, 0.12),
  // 0 2px 4px -1px rgba(0, 0, 0, 0.3);
}

.site-header {
  padding: 60px 0 40px;
}

.lib-name {
  display: inline-block;
  padding: 0;
  margin: 0;
  font-size: 3rem;
  line-height: .85;
  color: $color1;

  span {
    display: block;
    font-size: .5em;
    font-weight: normal;
    text-align: left;
  }
}

.btn {
  display: inline-block;
  padding: 6px 24px;
  margin-bottom: 2px;
  font-size: 1.5rem;
  line-height: 1.5;
  text-decoration: none;
  border-radius: 4px;
  color: $color5;
  background: $color2;
  border: 2px solid $color2;
  // box-shadow:
  //   0 4px 5px 0 rgba(0, 0, 0, 0.14),
  //   0 1px 10px 0 rgba(0, 0, 0, 0.12),
  //   0 2px 4px -1px rgba(0, 0, 0, 0.3);
  transition: opacity .3s ease;
}

.btn--ghost {
  padding: 2px 24px;
  color: $color2;
  background: transparent;
  border: 2px solid $color2;
  box-shadow: none;
}

.blocks {
  width: 100%;
  max-width: 640px;
  padding: 5px;
  margin: 0 auto;
  list-style: none;
  font-size: 0;
}

.blocks__item {
  display: inline-block;
  width: 33%;
  padding: 5px;
}

.blocks__item .btn {
  width: 100%;
  // padding: 30px 12px;
  padding: 24px 12px;
}

.btn--left-top,
.btn--left-center,
.btn--left-bottom,
.btn--center-top,
.btn--center-bottom,
.btn--right-top,
.btn--right-center,
.btn--right-bottom {
  position: absolute;
  left: unset;
  right: unset;
  top: unset;
  bottom: unset;
}

.btn--center-top,
.btn--center-bottom {
  left: 50%;
  transform: translate(-50%, 0);
}

.btn--left-top {
  top: 4px;
  left: 4px;
}

.btn--left-center {
  top: 50%;
  left: 4px;
  transform: translate(0, -50%);
}

.btn--left-bottom {
  bottom: 4px;
  left: 4px;
}

.btn--center-top {
  top: 4px;
}

.btn--center-bottom {
  bottom: 4px;
}

.btn--right-top {
  top: 4px;
  right: 4px;
}

.btn--right-center {
  top: 50%;
  right: 4px;
  transform: translate(0, -50%);
}

.btn--right-bottom {
  bottom: 4px;
  right: 4px;
}

.tooltip {
  padding: 8px 12px;
  font-size: 1.4rem;
  line-height: 1.4;
  font-family: 'Ubuntu', sans-serif;
  background: $color1;

  &:before {
    border-color: $color1;
  }
}
