/*
$color1: #272838;
$color2: #f4df8b;
$color3: #eb9486;
$color4: #7f7f9a;
$color5: #f9f7f7;
*/

*, *:before, *:after {
  box-sizing: border-box;
}

::selection {
  background: #f9f7f7;
}

::-moz-selection {
  background: #f9f7f7;
}

html {
  font-size: 10px;
  font-family: 'Ubuntu', sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  min-height: 500px;
  background: #7f7f9a;
}

.wrapper {
  position: relative;
  height: 100%;
  padding: 4px;
}

.inner-wrapper {
  z-index: 1;
  position: absolute;
  top: 50%;
  right: 4px;
  left: 4px;
  transform: translate(0, -50%);
}

.inner-wrapper__column {
  /*float: left;*/
  width: 25%;
}

.inner-wrapper__column--half {
  width: 50%;
  max-width: 400px;

  margin: 0 auto;
}

.anchor {
  z-index: 2;
  display: inline-block;
  padding: 0 4px;
  margin-bottom: 2px;
  font-size: 1.5rem;
  line-height: 1.5;
  text-decoration: none;
  border-radius: 4px;
  color: #f9f7f7;
  background: #EB9486;
  opacity: .9;
  transition: opacity .3s ease;
}

.anchor:hover {
  opacity: 1;
}

.--left-top,
.--left-center,
.--left-bottom,
.--center-top,
.--center-bottom,
.--right-top,
.--right-center,
.--right-bottom {
  position: absolute;
  left: unset;
  right: unset;
  top: unset;
  bottom: unset;
}

.--center-top,
.--center-bottom {
  left: 50%;
  transform: translate(-50%, 0);
}

.--left-top {
  top: 4px;
  left: 4px;
}

.--left-center {
  top: 50%;
  left: 4px;
  transform: translate(0, -50%);
}

.--left-bottom {
  bottom: 4px;
  left: 4px;
}

.--center-top {
  top: 4px;
}

.--center-bottom {
  bottom: 4px;
}

.--right-top {
  top: 4px;
  right: 4px;
}

.--right-center {
  top: 50%;
  right: 4px;
  transform: translate(0, -50%);
}

.--right-bottom {
  bottom: 4px;
  right: 4px;
}

.anchor--block {
  display: block;
  position: relative;
  float: left;
  width: calc(50% - 4px);
  padding-bottom: 50%;
  margin: 2px;
}

.anchor--block span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tooltip {
  padding: 6px;
  font-size: 1.2rem;
  font-family: 'Ubuntu', sans-serif;
}
