body {
  background: #999;
}

.wrapper {
    width: 404px;
    margin: 100px auto;
}

.anchor {
    display: inline;
    width: 300px;
    font-size: 12px;
    line-height: 1.5;
    text-transform: uppercase;
    border: 1px solid #000;
}

.anchor--right-aligned {
  float: right;
  width: initial;
}

.anchor--block {
    display: block;
    height: 100px;
}
