$tooltipBg: #333;
$tooltipColor: #ddd;
$arrowHeight: 5px;
$arrElementHeight: $arrowHeight * 2;

.tooltip {
  display: block;
  z-index: 999;
  position: fixed;
  max-width: 15em;
  padding: .5em;
  margin: 0;
  font-size: 1rem;
  line-height: 1;
  font-family: sans-serif;
  border-radius: 2px;
  color: $tooltipColor;
  background: $tooltipBg;
  opacity: 0;
  transition: opacity .3s ease;

  &:before {
    content: "";
    z-index: -1;
    display: block;
    position: absolute;
    width: $arrElementHeight;
    height: $arrElementHeight;
    background: $tooltipBg;
    transform-origin: center;
    transform: rotate(45deg);
  }
}

.tooltip--visible {
  position: absolute;
  opacity: 1;
}

.tooltip--top-center:before {
  top: unset;
  right: unset;
  bottom: -$arrowHeight;
  left: 50%;
  margin-left: -$arrowHeight;
}

.tooltip--top-start:before {
  top: unset;
  right: unset;
  bottom: -$arrowHeight;
  left: 10px;
}

.tooltip--top-end:before {
  top: unset;
  left: unset;
  bottom: -$arrowHeight;
  right: 10px;
}

.tooltip--bottom-center:before {
  bottom: unset;
  right: unset;
  top: -$arrowHeight;
  left: 50%;
  margin-left: -$arrowHeight;
}

.tooltip--bottom-start:before {
  bottom: unset;
  right: unset;
  top: -$arrowHeight;
  left: 10px;
}

.tooltip--bottom-end:before {
  bottom: unset;
  left: unset;
  top: -$arrowHeight;
  right: 10px;
}

.tooltip--left-center:before {
  bottom: unset;
  left: unset;
  top: 50%;
  right: -$arrowHeight;
  margin-top: -$arrowHeight;
}

.tooltip--left-start:before {
  bottom: unset;
  left: unset;
  top: 10px;
  right: -$arrowHeight;
}

.tooltip--left-end:before {
  left: unset;
  top: unset;
  bottom: 10px;
  right: -$arrowHeight;
}

.tooltip--right-center:before {
  bottom: unset;
  right: unset;
  top: 50%;
  left: -$arrowHeight;
  margin-top: -$arrowHeight;
}

.tooltip--right-start:before {
  bottom: unset;
  right: unset;
  top: 10px;
  left: -$arrowHeight;
}

.tooltip--right-end:before {
  top: unset;
  right: unset;
  bottom: 10px;
  left: -$arrowHeight;
}
